delete protocols ldp
{% if ldp is defined %}
{% for intf in ldp['interfaces'] %}
{% if "disable" in intf.mode %}
set protocols ldp interface {{ intf.name }} disable
{% else %}
set protocols ldp interface {{ intf.name }} 
{% endif %}
{% endfor %}
{% endif %}

