{% if bgp is defined %}
router bgp {{ bgp['asn'] }}
  router-id {{ loopback }}
{% for group, group_data in bgp['groups'].iteritems() %}
{% for neighbor in group_data['neighbors'] %}
  neighbor {{ neighbor }}
    remote-as {{ group_data['peer-asn'] }}
    update-source loopback0
{% if 'evpn' in group_data['families'] %}
    address-family l2vpn evpn
      send-community
      send-community extended
      soft-reconfiguration inbound always
{% endif %}
{% if 'inet-vpn' in group_data['families'] %}
    address-family vpnv4 unicast
{% endif %}
{% if 'inet' in group_data['families'] %}
    address-family ipv4 unicast
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}


