{% if bgp is defined %}
no router bgp {{ bgp['asn'] }}
router bgp {{ bgp['asn'] }}
  router-id {{ router_id }}
  no bgp default ipv4-unicast
{% for group, group_data in bgp['groups'].iteritems() %}
{% for neighbor in group_data['neighbors'] %}
{% if 'internal' in group_data['bgp_type'] %}
  neighbor {{ neighbor }} remote-as {{ bgp['asn'] }}
{% else %}
  neighbor {{ neighbor }} remote-as {{ group_data['peer-asn'] }}
{% endif %}
  neighbor {{ neighbor }} update-source loopback0
  neighbor {{ neighbor }} send-community extended
  neighbor {{ neighbor }} soft-reconfiguration inbound all
{% if 'evpn' in group_data['families'] %}
  address-family evpn
    neighbor {{ neighbor }} activate
{% endif %}
{% if 'inet-vpn' in group_data['families'] %}
  address-family vpnv4 unicast
    neighbor {{ neighbor }} activate
{% endif %}
{% if 'inet' in group_data['families'] %}
  address-family ipv4 unicast
    neighbor {{ neighbor }} activate
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

