{% if bgp is defined %}
no router bgp {{ bgp['asn'] }}
router bgp {{ bgp['asn'] }}
  router-id {{ router_id }}
{% for group, group_data in bgp['groups'].iteritems() %}
{% for neighbor in group_data['neighbors'] %}
  neighbor {{ neighbor }}
{% if 'internal' in group_data['bgp_type'] %}
    remote-as {{ bgp['asn'] }}
{% else %}
    remote-as {{ group_data['peer-asn'] }}
{% endif %}
    update-source loopback0
{% if 'evpn' in group_data['families'] %}
    address-family l2vpn evpn
      send-community
      send-community extended
      soft-reconfiguration inbound always
{% if group_data['cluster_id'] is defined %}
      route-reflector-client
{% endif %}
{% endif %}
{% if 'inet-vpn' in group_data['families'] %}
    address-family vpnv4 unicast
{% endif %}
{% if 'inet' in group_data['families'] %}
    address-family ipv4 unicast
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}