delete protocols mpls
{% if mpls is defined %}
{% for intf in mpls['interfaces'] %}
{% if "disable" in intf.mode %}
set protocols mpls interface {{ intf.name }} disable
{% else %}
set protocols mpls interface {{ intf.name }} 
{% endif %}
{% endfor %}
{% endif %}
{% if 'traffic-engineering' in mpls %}
set protocols mpls traffic-engineering {{ mpls['traffic-engineering'] }}
{% endif %}
{% if 'icmp-tunneling' in mpls %}
set protocols mpls icmp-tunneling
{% endif %}

