set snmp community {{ snmp_ro_community }} clients 0.0.0.0/0 restrict
{%for server in snmp_servers %}
set snmp community {{ server.community }} clients {{ server.ip }}/32
set snmp community {{ server.community }} clients {{ server.ip }}/32
{% endfor %}

{%for prefix in snmp_acl_prefixes %}
set snmp community {{ snmp_ro_community }} clients {{ prefix }}
{% endfor %}

set snmp trap-group default categories authentication
set snmp trap-group default categories chassis
set snmp trap-group default categories link
set snmp trap-group default categories remote-operations
set snmp trap-group default categories startup
set snmp trap-group default categories vrrp-events
{%for server in snmp_servers %}
set snmp trap-group default targets {{ server.ip }}
{% endfor %}

