ip access-list {{ snmp_ro_acl }}
{%for prefix in snmp_acl_prefixes %}
  permit ip {{ prefix }} any
{% endfor %}
{%for server in snmp_servers %}
snmp-server host {{ server.ip }} traps version {{ server.version }} {{ server.community }}
snmp-server host {{ server.ip }} use-vrf {{ server.vrf }}
{% endfor %}
snmp-server enable traps callhome event-notify
snmp-server enable traps callhome smtp-send-fail
snmp-server enable traps cfs state-change-notif
snmp-server enable traps cfs merge-failure
snmp-server enable traps aaa server-state-change
snmp-server enable traps feature-control FeatureOpStatusChange
snmp-server enable traps sysmgr cseFailSwCoreNotifyExtended
snmp-server enable traps config ccmCLIRunningConfigChanged
snmp-server enable traps snmp authentication
snmp-server enable traps vtp notifs
snmp-server enable traps vtp vlancreate
snmp-server enable traps vtp vlandelete
snmp-server enable traps bridge newroot
snmp-server enable traps bridge topologychange
snmp-server enable traps stpx inconsistency
snmp-server enable traps stpx root-inconsistency
snmp-server enable traps stpx loop-inconsistency
snmp-server enable traps feature-control ciscoFeatOpStatusChange
snmp-server community {{ snmp_ro_community }} group network-operator
snmp-server community {{ snmp_ro_community }} use-acl {{ snmp_ro_acl }}

