router bgp {{ oc_network_instances['network-instances']['network-instance']['default']['protocols']['protocol']['bgp bgp']['bgp']['global']['config']['as'] }}
   router-id {{ oc_network_instances['network-instances']['network-instance']['default']['protocols']['protocol']['bgp bgp']['bgp']['global']['config']['router_id'] }}
   maximum-paths 32
   no bgp default ipv4-unicast
{% for peer, peer_data in oc_network_instances['network-instances']['network-instance']['default']['protocols']['protocol']['bgp bgp']['bgp']['neighbors']['neighbor'].items() %}
   neighbor {{ peer_data['neighbor-address'] }} remote-as {{ peer_data['config']['peer-as'] }}
   neighbor {{ peer_data['neighbor-address'] }} update-source Loopback0
   neighbor {{ peer_data['neighbor-address'] }} soft-reconfiguration inbound all
   neighbor {{ peer_data['neighbor-address'] }} send-community extended
   neighbor {{ peer_data['neighbor-address'] }} maximum-routes 200000
{% endfor %}
!
router bgp {{ oc_network_instances['network-instances']['network-instance']['default']['protocols']['protocol']['bgp bgp']['bgp']['global']['config']['as'] }}
   address-family ipv4 
{% for ipv4 in oc_interfaces['interfaces']['interface']['lo']['subinterfaces']['subinterface']['0']['ipv4']['addresses']['address'] %}
      network {{ ipv4 }}
{% endfor %}
{% if role is defined and "leaf" in role %}
{% for vlan in client_vlan_ip %}
      network {{ vlan['subnet'] }}/{{ vlan['netmask'] }}
{% endfor %}
{% endif %}
{% for peer, peer_data in oc_network_instances['network-instances']['network-instance']['default']['protocols']['protocol']['bgp bgp']['bgp']['neighbors']['neighbor'].items() %}
      neighbor {{ peer_data['neighbor-address'] }} activate
{% endfor %}

