frr defaults datacenter
hostname {{ hostname }}
username cumulus nopassword
!
service integrated-vtysh-config
!
log syslog informational
!
router bgp {{ asn }}
 bgp router-id {{ loopback }}
 coalesce-time 1000
{% for intf in interfaces %}
 neighbor {{ intf['neighbor_ipv4'] }} remote-as {{ intf['neighbor_asn'] }}
{% endfor %}
 !
 address-family ipv4 unicast
  maximum-paths 32
  network {{ loopback }}/32
{% if role is defined and "leaf" in role %}
{% for vlan in client_vlan_ip %}
  network {{ vlan['subnet'] }}/{{ vlan['netmask'] }}
{% endfor %}
  neighbor HOSTS peer-group
  neighbor HOSTS remote-as {{ asn }}
{% if mlag is defined %}
{% if 'primary' in mlag['role'] %}
  neighbor 10.120.0.1 remote-as {{ asn }}
{% else %}
  neighbor 10.120.0.0 remote-as {{ asn }}
{% endif %}
{% endif %}
{% for vlan in client_vlan_ip %}
  bgp listen range {{ vlan['subnet'] }}/{{ vlan['netmask'] }} peer-group HOSTS
{% endfor %}
{% endif %}
{% for intf in interfaces %}
  neighbor {{ intf['neighbor_ipv4'] }} activate
{% endfor %}
{% if role is defined and "leaf" in role %}
  neighbor HOSTS activate
{% endif %}
{% if mlag is defined %}
{% if 'primary' in mlag['role'] %}
  neighbor 10.120.0.1 activate
  neighbor 10.120.0.1 route-reflector-client
{% else %}
  neighbor 10.120.0.0 activate
  neighbor 10.120.0.0 route-reflector-client
{% endif %}
{% endif %}
 exit-address-family
 !
!
!
line vty
!
