frr defaults datacenter
hostname {{ hostname }}
username cumulus nopassword
!
service integrated-vtysh-config
!
log syslog informational
!
router bgp {{ oc_network_instances['network-instances']['network-instance']['default']['protocols']['protocol']['bgp bgp']['bgp']['global']['config']['as'] }}
 bgp router-id {{ oc_network_instances['network-instances']['network-instance']['default']['protocols']['protocol']['bgp bgp']['bgp']['global']['config']['router_id'] }}
 coalesce-time 1000
{% for peer, peer_data in oc_network_instances['network-instances']['network-instance']['default']['protocols']['protocol']['bgp bgp']['bgp']['neighbors']['neighbor'].items() %}
 neighbor {{ peer_data['neighbor-address'] }} remote-as {{ peer_data['config']['peer-as'] }}
{% endfor %}
 !
 address-family ipv4 unicast
  maximum-paths 32
{% for ipv4 in oc_interfaces['interfaces']['interface']['lo']['subinterfaces']['subinterface']['0']['ipv4']['addresses']['address'] %}
  network {{ ipv4 }}
{% endfor %}
{% if role is defined and "leaf" in role %}
{% for vlan in client_vlan_ip %}
  network {{ vlan['subnet'] }}/{{ vlan['netmask'] }}
{% endfor %}
  neighbor HOSTS peer-group
  neighbor HOSTS remote-as {{ oc_network_instances['network-instances']['network-instance']['default']['protocols']['protocol']['bgp bgp']['bgp']['global']['config']['as'] }}
{% if mlag is defined %}
{% if 'primary' in mlag['role'] %}
  neighbor 10.120.0.1 remote-as {{ oc_network_instances['network-instances']['network-instance']['default']['protocols']['protocol']['bgp bgp']['bgp']['global']['config']['as'] }}
{% else %}
  neighbor 10.120.0.0 remote-as {{ oc_network_instances['network-instances']['network-instance']['default']['protocols']['protocol']['bgp bgp']['bgp']['global']['config']['as'] }}
{% endif %}
{% endif %}
{% for vlan in client_vlan_ip %}
  bgp listen range {{ vlan['subnet'] }}/{{ vlan['netmask'] }} peer-group HOSTS
{% endfor %}
{% endif %}
{% for peer, peer_data in oc_network_instances['network-instances']['network-instance']['default']['protocols']['protocol']['bgp bgp']['bgp']['neighbors']['neighbor'].items() %}
  neighbor {{ peer_data['neighbor-address'] }} activate
{% endfor %}
{% if role is defined and "leaf" in role %}
  neighbor HOSTS activate
{% endif %}
{% if mlag is defined %}
{% if 'primary' in mlag['role'] %}
  neighbor 10.120.0.1 activate
  neighbor 10.120.0.1 route-reflector-client
{% else %}
  neighbor 10.120.0.0 activate
  neighbor 10.120.0.0 route-reflector-client
{% endif %}
{% endif %}
 exit-address-family
 !
!
!
line vty
!
