router bgp {{ asn }}
   router-id {{ loopback }}
   maximum-paths 32
   no bgp default ipv4-unicast
{% for intf in interfaces %}
   neighbor {{ intf['neighbor_ipv4'] }} remote-as {{ intf['neighbor_asn'] }}
   neighbor {{ intf['neighbor_ipv4'] }} update-source Loopback0
   neighbor {{ intf['neighbor_ipv4'] }} soft-reconfiguration inbound all
   neighbor {{ intf['neighbor_ipv4'] }} send-community extended
   neighbor {{ intf['neighbor_ipv4'] }} maximum-routes 200000
{% endfor %}
!
router bgp {{ asn }}
   address-family ipv4 
      network {{ loopback }}/32
{% if role is defined and "leaf" in role %}
{% for vlan in client_vlan_ip %}
      network {{ vlan['subnet'] }}/{{ vlan['netmask'] }}
{% endfor %}
{% endif %}
{% for intf in interfaces %}
      neighbor {{ intf['neighbor_ipv4'] }} activate
{% endfor %}

