{% if role is defined and "leaf" in role %}
neighbor {{ client_vlan_ip[0]['ipv4'] }} {
    router-id {{ client_vlan_ip[0]['ipv4'] }}1;
    local-address {{ client_vlan_ip[0]['ipv4'] }}1;
    local-as {{ asn }};
    peer-as {{ asn }};
    static {
{% for n in range(2) %}
{% for m in range(250) %}
        route 172.{{ vm_id }}.{{ n }}.{{ m }}/32 {
            next-hop {{ client_vlan_ip[0]['ipv4'] }}1;
        }
{% endfor %}
{% endfor %}
    }
}
{% endif %}

