{% if ospf is defined %}
router ospf 1
  router-id {{ router_id }}
  passive-interface Loopback0
{% for data in interfaces|dictsort %}
{% if 'is_ospf' in data[1] and data[1]['is_ospf'] == True %}
  network {{ data[1]['ipv4'].split('/')[0] }} 0.0.0.0 area {{ data[1]['ospf_area'] }}
{% endif %}
{% endfor %}

{% for data in interfaces|dictsort %}
{% if 'is_ospf' in data[1] and data[1]['is_ospf'] == True %}
interface {{ data[0] }}
{% if 'p2p' in data[1]['ospf_intf_type'] %}
  ip ospf network point-to-point
  ip ospf bfd
{% endif %}
{% endif %}
{% endfor %}
{% endif %}