{% if ospf is defined %}
set routing-options router-id {{ router_id }}
{% for data in interfaces|dictsort %}
{% if 'is_ospf' in data[1] and data[1]['is_ospf'] == True %}
{% if 'passive' in data[1]['ospf_intf_type'] %}
set protocols ospf area {{ data[1]['ospf_area'] }} interface {{ data[0] }} passive
{% elif 'p2p' in data[1]['ospf_intf_type'] %}
set protocols ospf area {{ data[1]['ospf_area'] }} interface {{ data[0] }} interface-type p2p
{% else %}
set protocols ospf area {{ data[1]['ospf_area'] }} interface {{ data[0] }} 
{% endif %}
{% endif %}
{% endfor %}
{% endif %}