{% if ospf is defined %}
router ospf 1
  bfd
  router-id {{ router_id }}
  log-adjacency-changes
{% endif %}


{% for data in interfaces|dictsort %}
{% if 'is_ospf' in data[1] and data[1]['is_ospf'] == True %}
interface {{ data[0] }}
  ip router ospf 1 area {{ data[1]['ospf_area'] }}
  {% if 'p2p' in data[1]['ospf_intf_type'] %}
  ip ospf network point-to-point
  {% endif %}
{% endif %}
{% endfor %}