{% if 'routes' is defined %}
{% for route in routes %}
{% if 'vrf' in route %}
ip route vrf {{ route['vrf'] }} {{ route['route'] }} {{ route['next-hop'] }}
{% else %}
ip route {{ route['route'] }} {{ route['next-hop'] }}
{% endif %}
{% endfor %}
{% endif %}

