{% if 'routes' is defined %}
{% for route in routes %}
{% if 'vrf' in route %}
set routing-instance {{ route['vrf'] }} routing-options static route {{ route['route'] }} next-hop {{ route['next-hop'] }}
{% endif %}
set routing-options static route {{ route['route'] }} next-hop {{ route['next-hop'] }}
{% endfor %}
{% endif %}

