hostname {{ hostname }}
vdc {{ hostname }} id 1
  limit-resource vlan minimum 16 maximum 4094
  limit-resource vrf minimum 2 maximum 4096
  limit-resource port-channel minimum 0 maximum 511
  limit-resource u4route-mem minimum 248 maximum 248
  limit-resource u6route-mem minimum 96 maximum 96
  limit-resource m4route-mem minimum 58 maximum 58
  limit-resource m6route-mem minimum 8 maximum 8

no password strength-check
username admin password 5 $5$BEFFOF$8B0NdX2WyhYxGG7LeRka5t.5Za8tDg82JT2dWoOMSS3  role network-admin
no ip domain-lookup
spanning-tree mode mst

terminal dont-ask

hostname {{ hostname }}

feature scp-server
feature vrrp
feature ospf
feature bgp
feature pim
feature msdp
feature interface-vlan
feature lacp
feature dhcp
feature lldp
feature bfd
feature nxapi
feature bash-shell
nv overlay evpn
{% if chassis is defined and "7700" not in chassis %}
feature vn-segment-vlan-based
{% elif chassis is not defined %}
feature vn-segment-vlan-based
{% endif %}
feature nv overlay


{% if vpc is defined %}
spanning-tree mode mst
spanning-tree pathcost method long
spanning-tree port type edge default
spanning-tree port type edge bpduguard default
spanning-tree mst configuration
  name stp1
  revision 2

vpc domain {{ vpc['id'] }}
  peer-switch
  role priority {{ vpc['priority'] }}
  peer-keepalive destination {{ vpc['peer_ip'] }}
  delay restore 150
  auto-recovery reload-delay 300

default interface port-channel{{ vpc['peerlink_lag'] }}

interface port-channel{{ vpc['peerlink_lag'] }}
  description PEERLINK
  switchport
  switchport mode trunk
  spanning-tree link-type point-to-point
  spanning-tree port type network
  spanning-tree bpduguard disable
  logging event port link-status
  logging event port trunk-status
  storm-control broadcast level 5.00
  vpc peer-link
  no shutdown

{% for intf in vpc['peerlink_interfaces'] %}
default interface {{ intf }}

interface {{ intf }}
  speed 40000
  description PEERLINK
  lacp rate fast
  switchport
  switchport mode trunk
  spanning-tree link-type point-to-point
  spanning-tree port type network
  spanning-tree bpduguard disable
  link debounce time 10
  logging event port link-status
  logging event port trunk-status
  storm-control broadcast level 5.00
  channel-group {{ vpc['peerlink_lag'] }} force mode active
  no shutdown
{% endfor %}

port-channel load-balance src-dst ip-l4port
{% endif %}

no cdp enable
line console
line vty
  exec-timeout 15
ip arp timeout 1200
logging timestamp milliseconds



