set system host-name {{ hostname }}
set system backup-router {{ gateway }}
set system services ssh
set system services telnet
set system services netconf ssh
set system syslog host log kernel info
set system syslog host log any notice
set system syslog host log pfe info
set system syslog host log interactive-commands any
set system syslog file messages kernel info
set system syslog file messages any notice
set system syslog file messages authorization info
set system syslog file messages pfe info
set system syslog file messages archive world-readable
set system syslog file security interactive-commands any
set system syslog file security archive world-readable
set snmp community public authorization read-only
set snmp community private authorization read-write
set system ports console log-out-on-disconnect
set system root-authentication encrypted-password "$6$Xlqt7i5y$BrxRl/mk/5KsaY22v715Gn2SnAcpSAcLTfWSdLm4Lseb4CsQyLyVxV1i/kPnd9lt2Z3q6CpuIRY9k14GJTI0a0"
set system login user admin uid 2000
set system login user admin class super-user
set system login user admin authentication encrypted-password "$6$HgZgNtMt$4Zz6bBXw4CbYXdt9LandhMHtiU0ygVWjZ675v3IK0Y430URLMwS.9d03LKiGQ0Jw7eqAijPJfHkEl829gzGrN/"
set routing-options router-id {{ loopback.split('/')[0] }}
set protocols lldp interface all

set routing-options router-id {{ router_id }}

{% if 'vqfx' in chassis %}
set system extensions providers juniper license-type juniper deployment-scope commercial
set system extensions providers chef license-type juniper deployment-scope commercial
set forwarding-options storm-control-profiles default all
{% endif %}

