hostname {{ hostname }}
service routing protocols model multi-agent
spanning-tree mode mstp
!
aaa authorization exec default local
!
no aaa root
!
username admin privilege 15 role network-admin secret sha512 $6$gMBHGHgunTS7BW8h$tLpyjoAsJ.uEsDPja3wzXdshkooha.axfLq/Ly.lzXQRG4yz1JmLYxJCSItSx2CHgaXrgxNDF18RsJ52V6u2/1
!
ip routing
!
vrf definition mgmt
!
logging format timestamp high-resolution
mac address-table aging-time 1800

radius-server key 7 06150A225E4B1D12000E
radius-server host 192.168.125.1 vrf MGMT auth-port 1812 acct-port 1813
aaa authentication login default group radius local
aaa authentication login console local
aaa authorization exec default local group radius none

logging vrf MGMT host 192.168.125.1
logging format timestamp high-resolution
logging facility local6
logging level LLDP warnings
!

