delete protocols pim
{% if pim is defined %}
{% for intf in pim['interfaces'] %}
{% if "disable" in intf.mode %}
set protocols pim interface {{ intf.name }} disable
{% else %}
set protocols pim interface {{ intf.name }} mode {{ intf.mode }}
{% endif %}
{% endfor %}
{% endif %}

