fabric forwarding anycast-gateway-mac 2020.0100.dd21
system vlan nve-overlay id 200-300


{% if 'evpn2' in services %}
{% for ri in services['evpn2'] %}
{% for bd in ri['bridge-domain'] %}
vlan {{ bd.vlan }}
  vn-segment {{ bd.vni }}
  vni {{ bd.vni }} l2
vrf context {{ ri.name }}
  vni {{ ri.l3vni }}
  rd {{ ri.rd }}
  address-family ipv4 unicast
    route-target import {{ ri.rt }}
    route-target import {{ ri.rt }} evpn
    route-target export {{ri.rt }}
    route-target export {{ ri.rt }} evpn
  address-family ipv6 unicast
    route-target import {{ ri.rt }}
    route-target import {{ ri.rt }} evpn
    route-target export {{ ri.rt }}
    route-target export {{ ri.rt }} evpn
interface Vlan{{ bd.vlan }}
  vrf member {{ ri.name }}
  fabric forwarding mode anycast-gateway
{% endfor %}
{% endfor %}
{% for ri in services['evpn2'] %}
{% for bd in ri['bridge-domain'] %}
interface nve1
  no shutdown
  overlay-encapsulation vxlan
  host-reachability protocol bgp
  source-interface loopback1
  member vni {{ bd.vni }}
    ingress-replication protocol bgp
{% endfor %}
{% endfor %}
evpn
{% for ri in services['evpn2'] %}
{% for bd in ri['bridge-domain'] %}
  vni {{ bd.vni }} l2
    rd {{ ri.rd }}
    route-target import {{ ri.rt }}
    route-target export {{ ri.rt }}
{% endfor %}
{% endfor %}
{% endif %}


{% if 'evpn5' in services %}
{% for ri in services['evpn5'] %}
route-map {{ ri['route-map'] }} permit 10
  match tag {{ ri['vxlan']['vni'] }}
vlan {{ ri['dummy-vlan'] }}
  vn-segment {{ ri['vxlan']['vni'] }}
vrf context {{ ri.name }}
  vni {{ ri['vxlan']['vni'] }}
  rd {{ ri.rd }}
  address-family ipv4 unicast
    route-target import {{ ri.rt }}
    route-target import {{ ri.rt }} evpn
    route-target export {{ ri.rt }}
    route-target export {{ ri.rt }} evpn
  address-family ipv6 unicast
    route-target import {{ ri.rt }}
    route-target import {{ ri.rt }} evpn
    route-target export {{ ri.rt }}
    route-target export {{ ri.rt }} evpn
{% for intf in ri['interfaces'] %}
interface {{ intf }}
  vrf member {{ ri.name }}
  fabric forwarding mode anycast-gateway
{% endfor %}
interface Vlan{{ ri['dummy-vlan'] }}
  no shutdown
  vrf member {{ ri.name }}
  ip forward
interface nve1
  no shutdown
  overlay-encapsulation vxlan
  host-reachability protocol bgp
  source-interface loopback0
  member vni {{ ri['vxlan']['vni'] }} associate-vrf
router bgp 64000
  vrf {{ ri.name }}
    address-family ipv4 unicast
      advertise l2vpn evpn
      redistribute direct route-map {{ ri['route-map'] }}
{% endfor %}
{% endif %}




