{% if 'evpn2' in services %}
{% for ri in services['evpn2'] %}
{% for bd in ri['bridge-domain'] %}
vlan {{ bd.vlan }}
  vn-segment {{ bd.vni }}
  vni {{ bd.vni }} l2
vrf definition {{ ri.name }}
  rd {{ ri.rd }}
router bgp {{ asn }}
   vlan {{ bd.vlan }}
      rd {{ ri.rd }}
      route-target both {{ ri.rt }}
      redistribute learned
   !
interface Vlan{{ bd.vlan }}
  vrf forwarding {{ ri.name }}
{% endfor %}
{% endfor %}
{% for ri in services['evpn2'] %}
{% for bd in ri['bridge-domain'] %}
interface Vxlan1
   vxlan source-interface Loopback0
   vxlan udp-port 4789
   vxlan vlan {{ bd.vlan }} vni {{ bd.vni }}
{% endfor %}
{% endfor %}
evpn
{% for ri in services['evpn2'] %}
{% for bd in ri['bridge-domain'] %}
  vni {{ bd.vni }} l2
    rd {{ ri.rd }}
    route-target import {{ ri.rt }}
    route-target export {{ ri.rt }}
{% endfor %}
{% endfor %}
{% endif %}


{% if 'evpn5' in services %}
{% for ri in services['evpn5'] %}
ip routing vrf {{ ri.name }}
{% for intf in ri['interfaces'] %}
interface {{ intf }}
  vrf forwarding {{ ri.name }}
{% endfor %}
interface Vxlan1
   vxlan source-interface Loopback0
   vxlan udp-port 4789
   vxlan vrf {{ ri.name }} vni {{ ri['vxlan']['vni'] }}
!
router bgp 64000
   vrf {{ ri.name }}
      rd {{ ri.rd }}
      redistribute connected
      redistribute static
      !
      address-family ipv4
         route-target import {{ ri.rt }}
         route-target export {{ ri.rt }}
{% endfor %}
{% endif %}




