{% if 'evpn5' in services %}
{% for ri in services['evpn5'] %}
delete routing-instances {{ ri.name }} 
set routing-instances {{ ri.name }} instance-type vrf
set routing-instances {{ ri.name }} route-distinguisher {{ ri.rd }}
set routing-instances {{ ri.name }} vrf-target target:{{ ri.rt }}
set routing-instances {{ ri.name }} vrf-table-label
set routing-instances {{ ri.name }} protocols evpn ip-prefix-routes advertise direct-nexthop
set routing-instances {{ ri.name }} protocols evpn ip-prefix-routes encapsulation vxlan
{% if 'vxlan' in ri %}
set routing-instances {{ ri.name }} protocols evpn ip-prefix-routes vni {{ ri['vxlan']['vni'] }}
{% endif %}
set routing-instances {{ ri.name }} protocols evpn ip-prefix-routes export direct_routes
{% for intf in ri['interfaces'] %}
set routing-instances {{ ri.name }} interface {{ intf }}
{% endfor %}
{% endfor %}
{% endif %}


{% if 'evpn2-bd' in services %}
{% for ri in services['evpn2-bd'] %}
delete routing-instances {{ ri.name }} 
set routing-instances {{ ri.name }} vtep-source-interface lo0.0
set routing-instances {{ ri.name }} instance-type virtual-switch
set routing-instances {{ ri.name }} route-distinguisher {{ ri.rd }}
set routing-instances {{ ri.name }} vrf-target target:{{ ri.rt }}
set routing-instances {{ ri.name }} protocols evpn encapsulation vxlan

{% for bd in ri['bridge-domain'] %}
set routing-instances {{ ri.name }} bridge-domains vlan-{{ bd.vlan }} domain-type bridge
set routing-instances {{ ri.name }} bridge-domains vlan-{{ bd.vlan }} vlan-id {{ bd.vlan }}
set routing-instances {{ ri.name }} bridge-domains vlan-{{ bd.vlan }} routing-interface {{ bd['l3-interface'] }}
set routing-instances {{ ri.name }} bridge-domains vlan-{{ bd.vlan }} vxlan vni {{ bd.vni }}
set routing-instances {{ ri.name }} bridge-domains vlan-{{ bd.vlan }} vxlan ingress-node-replication
{% endfor %}

{% for vni in ri['vni-list'] %}
set routing-instances {{ ri.name }} protocols evpn extended-vni-list {{ vni }}
{% endfor %}
{% for intf in ri['interfaces'] %}
set routing-instances {{ ri.name }} interface {{ intf }}
{% endfor %}
{% endfor %}
{% endif %}


{% if 'evpn2' in services %}
set protocols evpn encapsulation vxlan
set protocols evpn extended-vni-list all
set protocols evpn multicast-mode ingress-replication
set protocols igmp-snooping vlan default
{% for ri in services['evpn2'] %}
delete routing-instances {{ ri.name }} 
set routing-instances {{ ri.name }} instance-type virtual-router
{% for bd in ri['bridge-domain'] %}
set vlans vlan-{{ bd.vlan }} vlan-id {{ bd.vlan }}
set vlans vlan-{{ bd.vlan }} vxlan vni {{ bd.vni }}
set vlans vlan-{{ bd.vlan }} vxlan ingress-node-replication
set routing-instances {{ ri.name }} interface {{ bd['l3-interface'] }}
{% endfor %}
set switch-options vtep-source-interface lo0.0
set switch-options route-distinguisher {{ ri.rd }}
set switch-options vrf-target target:{{ ri.rt }}
{% endfor %}
{% endif %}

{% if 'l3vpn' in services %}
{% for ri in services['l3vpn'] %}
set routing-instances {{ ri.name }} instance-type vrf
{% for intf in ri['interfaces'] %}
set routing-instances {{ ri.name }} interface {{ intf }}
{% endfor %}
set routing-instances {{ ri.name }} route-distinguisher {{ ri['rd'] }}
set routing-instances {{ ri.name }} vrf-target target:{{ ri['rt'] }}
set routing-instances {{ ri.name }} vrf-table-label
{% endfor %}
{% endif %}


