# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*.intf

# The loopback network interface
auto lo
iface lo inet loopback
    address {{ loopback }}/32

# The primary network interface
auto eth0
iface eth0 inet dhcp

auto mgmt
iface mgmt
    address 127.0.0.1/8
    vrf-table auto

{% for intf in interfaces %}
# interface to {{ intf['neighbor'] }}
auto {{ intf['intf_name'] }}
iface {{ intf['intf_name'] }}
    address {{ intf['ipv4'] }}/31
    mtu 1500

{% endfor %}


{% if role is defined and "leaf" in role %}
auto bridge
iface bridge
{% if mlag is defined %}
    bridge-ports peerlink {{ host_ports }}
{% else %}
    bridge-ports {{ host_ports }}
{% endif %}
    bridge-pvid 1
    bridge-vids {{ host_subnet_vlans }}
    bridge-vlan-aware yes

{% if mlag is defined %}
auto swp10
iface swp10
    post-up ip link set $IFACE promisc on

auto peerlink
iface peerlink
    bond-slaves swp10

auto peerlink.4000
iface peerlink.4000
{% if 'primary' in mlag['role'] %}
    address 10.120.0.0/31
{% else %}
    address 10.120.0.1/31
{% endif %}

auto peerlink.4094
iface peerlink.4094
{% if 'primary' in mlag['role'] %}
    address 169.254.1.1/30
    #clagd-backup-ip 10.123.71.10 vrf mgmt
    clagd-peer-ip 169.254.1.2
    clagd-sys-mac 44:38:39:FF:40:94
{% else %}
    address 169.254.1.2/30
    #clagd-backup-ip 10.123.71.10 vrf mgmt
    clagd-peer-ip 169.254.1.1
    clagd-sys-mac 44:38:39:FF:40:94
{% endif %}
{% endif %}


{% if mlag is defined %}
{% for intf in client_switchport %}
auto {{ intf['intf_name'] }}
iface {{ intf['intf_name'] }}

auto {{ intf['bond_name'] }}
iface {{ intf['bond_name'] }}
    bridge-access {{ intf['vlan'] }}
{% if 'primary' in mlag['role'] %}
    bond-lacp-bypass-allow yes
{% endif %}
    bond-slaves {{ intf['intf_name'] }}
    clag-id {{ intf['mlag_id'] }}
    mstpctl-bpduguard yes
    mstpctl-portadminedge yes

{% endfor %}
{% else %}
{% for intf in client_switchport %}
auto {{ intf['intf_name'] }}
iface {{ intf['intf_name'] }}
    bridge-access {{ intf['vlan'] }}

{% endfor %}
{% endif %}


{% for vlan in client_vlan_ip %}
auto vlan{{ vlan['vlan'] }}
iface vlan{{ vlan['vlan'] }}
    address {{ vlan['ipv4'] }}/{{ vlan['netmask'] }}
    vlan-id {{ vlan['vlan'] }}
    vlan-raw-device bridge
{% endfor %}
{% endif %}

