ip routing
interface Loopback0
   ip address {{ loopback }}/32
!

{% for intf in interfaces %}
interface {{ intf['intf_name'] }}
   shutdown
   description {{ intf['neighbor'] }}
   no switchport
   ip address {{ intf['ipv4'] }}/31
   no shutdown
{% endfor %}


{% if role is defined and "leaf" in role %}
{% for vlan in client_vlan_ip %}
vlan {{ vlan['vlan'] }}
!
interface Vlan{{ vlan['vlan'] }}
   ip address {{ vlan['ipv4'] }}/{{ vlan['netmask'] }}
!
{% endfor %}

{% if mlag is defined %}
vlan 4040
   trunk group mlag-trunk-group
!
spanning-tree mode mstp
spanning-tree portfast bpduguard default
!
spanning-tree mst configuration
   name ip-fabric
   revision 2
!
interface Port-Channel300
   description PEERLINK
   logging event link-status
   switchport mode trunk
   switchport trunk group mlag-trunk-group
   storm-control broadcast level 5
   spanning-tree link-type point-to-point
   spanning-tree bpduguard disable
   no shutdown
!
interface eth10
   switchport
   switchport mode trunk
   channel-group 300 mode active
   no shutdown
!
{% if 'primary' in mlag['role'] %}
interface Vlan4040
   no autostate
   ip address 169.254.128.1/30
   no shutdown
!
mlag configuration
   domain-id 11
   local-interface Vlan4040
   peer-address 169.254.128.2
   peer-link Port-Channel300
   no shutdown
!
{% else %}
interface Vlan4040
   no autostate
   ip address 169.254.128.2/30
!
mlag configuration
   domain-id 11
   local-interface Vlan4040
   peer-address 169.254.128.1
   peer-link Port-Channel300
!
{% endif %}
{% endif %}


{% if mlag is defined %}
{% for intf in client_switchport %}
interface Port-Channel{{ intf['bond_name'] }}
   no logging event link-status
   switchport mode access 
   switchport access vlan {{ intf['vlan'] }}
   port-channel lacp fallback timeout 5
   mlag {{ intf['bond_name'] }}
   !storm-control broadcast level 1
   !spanning-tree portfast
   spanning-tree bpduguard enable
{% if 'primary' in mlag['role'] %}
   port-channel lacp fallback static
{% endif %}
!
interface {{ intf['intf_name'] }}
   switchport
   switchport mode access
   switchport access vlan {{ intf['vlan'] }}
   channel-group {{ intf['bond_name'] }} mode active
!
!
{% endfor %}
{% else %}
{% for intf in client_switchport %}
interface {{ intf['intf_name'] }}
   no logging event link-status
   switchport mode access
   switchport access vlan {{ intf['vlan'] }}
   !storm-control broadcast level 1
   !spanning-tree portfast
   spanning-tree bpduguard enable
{% endfor %}
{% endif %}

{% endif %}


