{% if 'vqfx' in chassis %}
set interfaces em0 unit 0 family inet address {{ mgmt_ip }}
set interfaces em1 unit 0 family inet address 169.254.0.2/24
{% else %}
set interfaces fxp0 unit 0 family inet address {{ mgmt_ip }}
{% endif %}

set system backup-router {{ gateway }}

{% for data in interfaces|dictsort %}
set interfaces {{ data[0].split('.')[0] }} description dummy
delete interfaces {{ data[0].split('.')[0] }} 
{% if 'is_l3' in data[1] and data[1]['is_l3'] == True %}
{% if 'desc' in data[1] %}
set interfaces {{ data[0].split('.')[0] }} description {{ data[1]['desc'] }}
{% endif %}
set interfaces {{ data[0].split('.')[0] }} unit {{ data[0].split('.')[1] }} family inet address {{ data[1]['ipv4'] }}
{% if 'families' in data[1] and 'mpls' in data[1]['families'] %}
set interfaces {{ data[0].split('.')[0] }} unit {{ data[0].split('.')[1] }} family mpls
{% endif %}
{% if 'instance' in data[1] %}
set routing-instances {{ data[1]['instance'] }} interface {{ data[0] }}
{% endif %}
{% endif %}
{% endfor %}



