ip routing
interface Loopback0
{% for ipv4 in oc_interfaces['interfaces']['interface']['lo']['subinterfaces']['subinterface']['0']['ipv4']['addresses']['address'] %}
    ip address {{ ipv4 }}
{% endfor %}
!

# Transit interfaces
{% for intf in oc_interfaces['interfaces']['interface'] %}
{% if 'lo' not in intf and 'aggregate-id' not in oc_interfaces['interfaces']['interface'][intf]['ethernet']['config'] %}
interface {{ intf }}
   description  {{ oc_interfaces['interfaces']['interface'][intf]['config']['description'] }}
   no switchport
{% for ipv4 in oc_interfaces['interfaces']['interface'][intf]['subinterfaces']['subinterface']['0']['ipv4']['addresses']['address'] %}
   ip address {{ ipv4 }}
{% endfor %}
   no shutdown
{% endif %}
{% endfor %}


{% if role is defined and "leaf" in role %}
{% for vlan in client_vlan_ip %}
vlan {{ vlan['vlan'] }}
!
interface Vlan{{ vlan['vlan'] }}
   ip address {{ vlan['ipv4'] }}/{{ vlan['netmask'] }}
!
{% endfor %}
{% endif %}

{% if role is defined and "leaf" in role %}
{% if mlag is defined %}
vlan 4040
   trunk group mlag-trunk-group
!
spanning-tree mode mstp
spanning-tree portfast bpduguard default
!
spanning-tree mst configuration
   name ip-fabric
   revision 2
!
interface Port-Channel300
   description PEERLINK
   logging event link-status
   switchport mode trunk
   switchport trunk group mlag-trunk-group
   storm-control broadcast level 5
   spanning-tree link-type point-to-point
   spanning-tree bpduguard disable
   no shutdown
!
interface eth10
   switchport
   switchport mode trunk
   channel-group 300 mode active
   no shutdown
!
{% if 'primary' in mlag['role'] %}
interface Vlan4040
   no autostate
   ip address 169.254.128.1/30
   no shutdown
!
mlag configuration
   domain-id 11
   local-interface Vlan4040
   peer-address 169.254.128.2
   peer-link Port-Channel300
   no shutdown
!
{% else %}
interface Vlan4040
   no autostate
   ip address 169.254.128.2/30
!
mlag configuration
   domain-id 11
   local-interface Vlan4040
   peer-address 169.254.128.1
   peer-link Port-Channel300
!
{% endif %}
{% endif %}
{% endif %}


{% if role is defined and "leaf" in role %}
{% if mlag is defined %}

{% for intf, intf_data in oc_interfaces['interfaces']['interface'].items() %}
{% if 'vlan' in intf_data['ethernet']['config'] %}
{% if 'aggregate-id' in intf_data['ethernet']['config'] %}
interface Port-Channel{{ intf_data['ethernet']['config']['aggregate-id'] }}
   no logging event link-status
   switchport mode access 
   switchport access vlan {{ intf_data['subinterfaces']['subinterface']['0']['vlan']['config']['vlan-id'] }}
   port-channel lacp fallback timeout 5
   mlag {{ intf_data['ethernet']['config']['aggregate-id'] }}
   !storm-control broadcast level 1
   !spanning-tree portfast
   spanning-tree bpduguard enable
{% if 'primary' in mlag['role'] %}
   port-channel lacp fallback static
{% endif %}
!
interface {{ intf }}
   switchport
   switchport mode access
   switchport access vlan {{ intf_data['subinterfaces']['subinterface']['0']['vlan']['config']['vlan-id'] }}
   channel-group {{ intf_data['ethernet']['config']['aggregate-id'] }} mode active
!
!

{% else %}
interface {{ intf }}
   no logging event link-status
   switchport mode access
   switchport access vlan {{ intf_data['subinterfaces']['subinterface']['0']['vlan']['config']['vlan-id'] }}
   !storm-control broadcast level 1
   !spanning-tree portfast
   spanning-tree bpduguard enable
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}




