feature scp-server
feature vrrp
feature ospf
feature bgp
feature pim
feature msdp
feature interface-vlan
feature lacp
feature dhcp
feature lldp
feature bfd
feature nxapi

feature bash-shell
nv overlay evpn
{% if chassis is defined and "7700" not in chassis %}
feature vn-segment-vlan-based
{% elif chassis is not defined %}
feature vn-segment-vlan-based
{% endif %}
feature nv overlay

{% for data in interfaces|dictsort %}
{% if 'is_l3' in data[1] and data[1]['is_l3'] == True %}
{% if not 'loopback' in data[0] %}
default interface {{ data[0] }}
{% endif %}
interface {{ data[0] }}
{% if 'desc' in data[1] %}
  description {{ data[1]['desc'] }}
{% endif %}
{% if 'speed' in data[1] %}
  speed {{ data[1]['speed'] }}
{% endif %}
  ip address {{ data[1]['ipv4'] }}
{% endif %}
{% if 'is_l2' in data[1] and data[1]['is_l2'] == True %}
default interface {{ data[0] }}
interface {{ data[0] }}
  switchport
{% if 'mode' in data[1] and data[1]['mode'] == "access" %}
  switchport mode access
  switchport access vlan {{ data[1]['vlans'][0] }}
{% elif 'mode' in data[1] and data[1]['mode'] == "trunk" %}
  switchport mode trunk
{% endif %}
  storm-control broadcast level 5.00
{% if "mlag" in data[1] %}
  channel-group {{ data[1]['mlag'] }} force mode active
{% endif %}
{% endif %}
  no shutdown
{% endfor %}

{% if vlans is defined %}
{% for vlan in vlans %}
vlan {{ vlan.id }}
{% if 'vni' in vlan %}
  vn-segment {{ vlan.vni }}
{% endif %}
{% endfor %}
{% endif %}
