# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*.intf

# The loopback network interface
auto lo
iface lo inet loopback
{% for ipv4 in oc_interfaces['interfaces']['interface']['lo']['subinterfaces']['subinterface']['0']['ipv4']['addresses']['address'] %}
    address {{ ipv4 }}
{% endfor %}

# The primary network interface
auto eth0
iface eth0 inet dhcp

auto mgmt
iface mgmt
    address 127.0.0.1/8
    vrf-table auto

# Transit interfaces
{% for intf in oc_interfaces['interfaces']['interface'] %}
{% if 'lo' not in intf and 'aggregate-id' not in oc_interfaces['interfaces']['interface'][intf]['ethernet']['config'] %}
# interface to {{ oc_interfaces['interfaces']['interface'][intf]['config']['description'] }}
auto {{ intf }}
iface {{ intf }}
{% for ipv4 in oc_interfaces['interfaces']['interface'][intf]['subinterfaces']['subinterface']['0']['ipv4']['addresses']['address'] %}
    address {{ ipv4 }}
{% endfor %}
    mtu 1500
{% endif %}
{% endfor %}


# mlag
# x for x in xyz if x not in a
{% if role is defined and "leaf" in role %}
auto bridge
iface bridge
{% if mlag is defined %}
    bridge-ports peerlink {% for intf,intf_data in oc_interfaces['interfaces']['interface'].items() %}{% if 'aggregate-id' in intf_data['ethernet']['config'] %}po{{ intf_data['ethernet']['config']['aggregate-id'] }} {% endif %}
{% endfor %}

{% else %}
    bridge-ports {% for intf,intf_data in oc_interfaces['interfaces']['interface'].items() %}{% if 'vlan' in intf_data['subinterfaces']['subinterface']['0'] and 'aggregate-id' not in intf_data['ethernet']['config'] %}po{{ intf_data['ethernet']['config']['aggregate-id'] }} {% endif %}
{% endfor %}

{% endif %}
    bridge-pvid 1
#    bridge-vids {% for intf,intf_data in oc_interfaces['interfaces']['interface'].items() %}{% if 'vlan' in intf_data['subinterfaces']['subinterface']['0'] %}{{ intf_data['subinterfaces']['subinterface']['0']['vlan']['config']['vlan-id'] }}{% endif %}
#{% endfor %}

    bridge-vids 100
    bridge-vlan-aware yes
{% endif %}

# hardcoded port 10 for peerlink
# promisc on is only required for VX
{% if mlag is defined %}
auto swp10
iface swp10
    post-up ip link set $IFACE promisc on

auto peerlink
iface peerlink
    bond-slaves swp10

auto peerlink.4000
iface peerlink.4000
{% if 'primary' in mlag['role'] %}
    address 10.120.0.0/31
{% else %}
    address 10.120.0.1/31
{% endif %}

auto peerlink.4094
iface peerlink.4094
{% if 'primary' in mlag['role'] %}
    address 169.254.1.1/30
    #clagd-backup-ip 10.123.71.10 vrf mgmt
    clagd-peer-ip 169.254.1.2
    clagd-sys-mac 44:38:39:FF:40:94
{% else %}
    address 169.254.1.2/30
    #clagd-backup-ip 10.123.71.10 vrf mgmt
    clagd-peer-ip 169.254.1.1
    clagd-sys-mac 44:38:39:FF:40:94
{% endif %}
{% endif %}


{% if mlag is defined %}
{% for intf, intf_data in oc_interfaces['interfaces']['interface'].items() %}
{% if 'aggregate-id' in intf_data['ethernet']['config'] %}

auto {{ intf }}
iface {{ intf }}

auto  po{{ intf_data['ethernet']['config']['aggregate-id'] }}
iface po{{ intf_data['ethernet']['config']['aggregate-id'] }}
    bridge-access {{ intf_data['subinterfaces']['subinterface']['0']['vlan']['config']['vlan-id'] }}
{% if 'primary' in mlag['role'] %}
    bond-lacp-bypass-allow yes
{% endif %}
    bond-slaves {{ intf }}
    clag-id {{ intf_data['ethernet']['config']['aggregate-id'] }}
    mstpctl-bpduguard yes
    mstpctl-portadminedge yes
{% else %}
{% if 'vlan' in intf_data['subinterfaces']['subinterface']['0'] %}
auto {{ intf }}
iface {{ intf }}
    bridge-access {{ intf_data['subinterfaces']['subinterface']['0']['vlan']['config']['vlan-id'] }}
{% endif %}
{% endif %}
{% endfor %}


{% for vlan in client_vlan_ip %}
auto vlan{{ vlan['vlan'] }}
iface vlan{{ vlan['vlan'] }}
    address {{ vlan['ipv4'] }}/{{ vlan['netmask'] }}
    vlan-id {{ vlan['vlan'] }}
    vlan-raw-device bridge
{% endfor %}
{% endif %}

